.gameTitle {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mainBody {
  height: 100vh;
  background-color: rgba(200, 187, 2, 0.781);
}

.gameGrid {
  border: 2px solid black;
  background-color: #4682b9;
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex; /*Creates the grid patter from any divs in gameGrid*/
  flex-wrap: wrap; /*Wraps any divs in gameGrid if they go past the gameGrid element*/
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  perspective: 1000px;
}

.GameCard {
  border-radius: 8px;
  background-color: #000000;
  border: 2px solid rgb(131, 21, 21);
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.GameCard:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.GameCard.flip {
  animation: backwards 1 1s;
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}
